/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.AnchorPane
{
	-fx-background-image: url("/city.jpg");
}
.listPane
{
	-fx-background-image: url("/listBackground.jpg");
}
.changePane
{
	-fx-background-image: url("/whiteWoodenBackground.png");
}
.button
{
	 -fx-background-color: 
        #c3c4c4,
        linear-gradient(#d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}
.Label
{
    -fx-font-family: #ffffff;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.withoutBackLabel
{
	-fx-font-family: #ffffff;
    -fx-font-weight: bold;
}